@font-face {
    font-family: 'Letric';
    src: url('/fonts/Letric_Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nightcore';
    src: url('/fonts/Nightcore.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Redwing Medium';
    src: url('/fonts/Redwing_Medium_Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Redwing Light';
    src: url('/fonts/Redwing_Light_Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}