body {
  background-color: #f5f1f8;
  color: #ff5608;
}

.navbar {
  background-color: #f8f9fa;
  color: #ff5608;
}

.nav-button {
  color: #ff5608;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
}

.hover-overlay {
  background: rgb(255, 255, 255);
  opacity: 0;
}

.box:hover .hover-overlay {
  background: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

.hamburger {
  background-color: #f0f0f0;
}

.hamburger-button {
  color: #ff5608;
}

.hamburger-footer {
  color: #ff5608;
  border-top: 0.1vh solid #ff5608;
}

.hamburger-footer a {
  color: #ff6811;
}

.circle {
  border: 0.2vh solid #ff5608;
}

.circle.hovered-footer {
  border: 0.2vh solid #ffa366;
}

.circle.hovered-sip {
  border: 0.2vh solid #4cc200;
}

.options-menu {
  background-color: #e7e7e7;
  color: #ff5608;
}

.video-overlay {
  background: linear-gradient(rgba(10, 10, 10, 0), rgba(10, 10, 10, 0));
}

.box-1 {
  background-color: #afdff4;
}

.box-2 {
  background-color: #ddf2af;
}

.main-card-1 {
  background-color: #f4d8ca;
}

.main-card-2 {
  background-color: #afdff4;
}

.social-card {
  background-color: #dedede;
}

.twaos-card {
  background-color: #dedede;
}

.game-card {
  background-color: rgba(90, 210, 57, 0.1);
}

.disc-card {
  background-color: #dedede;
}

.music-card {
  background-color: #dedede;
}

.electrical-bg {
  background: 
    radial-gradient(circle at 20% 30%, rgba(255, 151, 55, 0.5) 0%, transparent 50%),
    radial-gradient(circle at 80% 70%, rgba(255, 151, 55, 0.5) 0%, transparent 50%);
}

.important-notice {
  background: linear-gradient(135deg, rgba(255, 140, 33, 0.068), rgba(255, 140, 33, 0.068));
}

.notice-glow {
  background: linear-gradient(45deg, transparent 30%, rgba(255, 140, 33, 0.185) 50%, transparent 70%);
}

.TCS::before {
  background: linear-gradient(45deg, transparent 30%, rgba(255, 94, 0, 0.116) 50%, transparent 70%);
}

.gear {
  border: 0.3vh solid #ff5608;
}

.gear::before {
  background: radial-gradient(circle, transparent 40%, #ff5608 42%, #ff5608 58%, transparent 60%);
}

.encouraged {
  background: rgba(90, 210, 57, 0.05);
  border-color: rgba(82, 218, 45, 0.349);
}

.unacceptable {
  background: rgba(255, 51, 51, 0.05);
  border-color: rgba(255, 25, 25, 0.349);
}

.scope-content {
  background: rgba(255, 121, 43, 0.103);
}

.examples-box {
  background: rgba(255, 255, 255, 0.432);
}

.crown-image {
  filter: drop-shadow(0 0.5vh 1vh rgba(0, 0, 0, 0.1));
}

.crown-image:hover {
  filter: drop-shadow(0 0.5vh 1vh rgba(0, 0, 0, 0.3)) drop-shadow(0 0 2vh rgba(0, 0, 0, 0.6));
}

.crown-image.hovered {
  filter: drop-shadow(0 0.5vh 1vh rgba(0, 0, 0, 0.3)) drop-shadow(0 0 2vh rgba(0, 0, 0, 0.6));
}

.spark {
  background: #4cc200;
  box-shadow: 0 0 8px #4cc200, 0 0 16px #4cc200;
}