body {
  background-color: #131615;
  color: #f65901;
}

.navbar {
  background-color: #0f1010;
  color: #f65901;
}

.nav-button {
  color: #f65901;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
}

.hover-overlay {
  background: rgba(0, 0, 0, 0);
}

.box:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.hamburger {
  background-color: #131615;
}

.hamburger-button {
  color: #f65901;
}

.hamburger-footer {
  color: #f65901;
  border-top-color: #f65901;
}

.hamburger-footer a {
  color: #ff6811;
}

.circle {
  border: 0.2vh solid #f65901;
}

.circle.hovered-footer {
  border: 0.2vh solid #ffae66;
}

.circle.hovered-sip {
  border: 0.2vh solid #5eff00;
}

.options-menu {
  background-color: #222;
  color: #f65901;
}

.video-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.8));
}

.box-1 {
  background-color: #151e22;
}

.box-2 {
  background-color: #1e2215;
}

.main-card-1 {
  background-color: #25211f;
}

.main-card-2 {
  background-color: #151e22;
}

.social-card {
  background-color: #222;
}

.twaos-card {
  background-color: #222;
}

.game-card {
  background-color: rgba(33, 79, 20, 0.1);
}