body {
  background-color: #f5f1f8;
  color: #e04800;
}

.navbar {
  background-color: #f8f9fa;
  color: #e04800;
}

.nav-button {
  color: #e04800;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
}

.hover-overlay {
  background: rgb(255, 255, 255);
  opacity: 0;
}

.box:hover .hover-overlay {
  background: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

.hamburger {
  background-color: #f0f0f0;
}

.hamburger-button {
  color: #e04800;
}

.hamburger-footer {
  color: #e04800;
  border-top: 0.1vh solid #e04800;
}

.hamburger-footer a {
  color: #ff6811;
}

.circle {
  border: 0.2vh solid #e04800;
}

.circle.hovered-footer {
  border: 0.2vh solid #ffa366;
}

.circle.hovered-sip {
  border: 0.2vh solid #4cc200;
}

.options-menu {
  background-color: #e7e7e7;
  color: #e04800;
}

.video-overlay {
  background: linear-gradient(rgba(10, 10, 10, 0), rgba(10, 10, 10, 0));
}

.box-1 {
  background-color: #afdff4;
}

.box-2 {
  background-color: #ddf2af;
}

.main-card-1 {
  background-color: #f4d8ca;
}

.main-card-2 {
  background-color: #afdff4;
}

.social-card {
  background-color: #dedede;
}

.twaos-card {
  background-color: #dedede;
}

.game-card {
  background-color: rgba(90, 210, 57, 0.1);
}

.disc-card {
  background-color: #dedede;
}

.music-card {
  background-color: #dedede;
}