@import 'tailwindcss';
@import '../static/fonts/fonts.css';

html {
  font-size: clamp(1vh, 1.2vw, 1.36vh);
}

body {
  font-family: 'sans-sherif';
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.twaos-logo {
  font-family: 'Nightcore';
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.circle {
  --circle-size: 2vh;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border-radius: 50%;
  pointer-events: none;
  will-change: transform;
  transition: opacity 0.3s ease, rotation 1s, width 0.1s ease-out, height 0.1s ease-out, top 0.1s ease-out, left 0.1s ease-out, border 0.2s ease-in-out;
  z-index: 500;
}

.circle.hovered-text-grow {
  --circle-size: 7vh;
}

.circle.hovered-button-grow {
  --circle-size: 5vh;
}

.circle.hovered-menu-item {
  height: 4vh;
  width: 18vh;
  border-radius: 1vh;
  transition: rotation 1s, width 0.01s ease-in-out, height 0.01s ease-in-out, top 0.1s ease-in-out, left 0.1s ease-out, border 0.1s ease-in-out, border-radius 0.2s ease-in-out;
}

.circle.hovered-nav-abt {
  height: 3vh;
  width: 7.9vh;
  border-radius: 0.8vh;
  transition: rotation 1s, width 0.01s ease-in-out, height 0.01s ease-in-out, top 0.1s ease-in-out, left 0.1s ease-out, border 0.1s ease-in-out, border-radius 0.2s ease-in-out;
}

.circle.hovered-nav-elts {
  height: 3vh;
  width: 9.2vh;
  border-radius: 0.8vh;
  transition: rotation 1s, width 0.01s ease-in-out, height 0.01s ease-in-out, top 0.1s ease-in-out, left 0.1s ease-out, border 0.1s ease-in-out, border-radius 0.2s ease-in-out;
}

.circle.hovered-nav-proj {
  height: 3vh;
  width: 7vh;
  border-radius: 0.8vh;
  transition: rotation 1s, width 0.01s ease-in-out, height 0.01s ease-in-out, top 0.1s ease-in-out, left 0.1s ease-out, border 0.1s ease-in-out, border-radius 0.2s ease-in-out;
}

.circle.hovered-new-search {
  height: 7vh;
  width: 24.5vw;
  border-radius: 2vh;
}

.circle.hovered-blog-search {
  height: 5vh;
  width: 15.9vw;
  border-radius: 0.6vh;
}

.circle.hovered-blog-filter {
  height: 4.6vh;
  width: 5.55vw;
  border-radius: 0.6vh;
}

.circle.hovered-settings {
  --circle-size: 3.5vh;
}

.circle.hovered-pin {
  --circle-size: 13.4vh;
  top: -0.03vh;
  border-radius: 1.2vh;
}

.circle.hovered-footer {
  height: 5vh;
  width: 13vh;
  top: 0.5vh;
  border-radius: 1.2vh;
  transition: rotation 1s, width 0.1s ease-in-out, height 0.1s ease-in-out, top 0.1s ease-in-out, left 0.1s ease-in-out, border 0.1s ease-in-out, border-radius 0.2s ease-in-out;
}

.circle.hovered-hamburger-closed {
  --circle-size: 4vh;
}

.circle.hovered-hamburger-open {
  --circle-size: 4vh;
  left: 0.8vh;
}

.circle.hovered-sip {
  --circle-size: 37vh;
  top: -0.3vh;
  left: -1.4vh;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: background 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}